# use define function

In [2]:

def name(a):
    print("your name is ",a)
name(a=input("Enter your name :"))

Enter your name :sushant
your name is  sushant

# star of 3

In [3]:
def star(a):
    for i in range(1,a+1):
        for j in range(1,i+1):
            print("*",end="")
        print()
        
star(a=int(input("Enter the number of stars : ")))

Enter the number of stars : 3
*
**
***

# multiplication of 3 values

In [4]:
def mul(a,b,c):
    print(a*b*c)
mul(12,45,1)

540

# power function

In [5]:
def power(a,b):
    print(a**b)
power(2,3)

8

# cube of any value

In [6]:
def cube(a):
    print(a**3)

cube(int(input("Enter the number you want to cube : ")))

Enter the number you want to cube : 2
8

# varience of 5 values

In [11]:
import statistics as s
a=[]
for i in range (1,6):
    int(input("Enter the number : "))
    a.append(i)
var=(s.variance(a))
print("The variance of above the numbers are :",var)

Enter the number : 1
Enter the number : 2
Enter the number : 3
Enter the number : 4
Enter the number : 5
The variance of above the numbers are : 2.5

# calculate the variance of given values

In [12]:
import statistics as s
var=(1,2455,65,45,12,5)
print(s.variance(var))

984292.7

# addition of only even number

In [90]:
def even_add(number):
    a=0
    for i in number:
        if i % 2 ==0:
           a=a+i
    return a
number=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6]
even_add(number)

32

# print name

In [103]:
def own():
    for i in range(1,32):
        print(i,"sushant")
own()

1 sushant
2 sushant
3 sushant
4 sushant
5 sushant
6 sushant
7 sushant
8 sushant
9 sushant
10 sushant
11 sushant
12 sushant
13 sushant
14 sushant
15 sushant
16 sushant
17 sushant
18 sushant
19 sushant
20 sushant
21 sushant
22 sushant
23 sushant
24 sushant
25 sushant
26 sushant
27 sushant
28 sushant
29 sushant
30 sushant
31 sushant

# create the list for specific range

In [117]:
def create_list(c,b):
    i=1
    a=[]
    for i in range(c,b):
        a.append(i)
        i+i+1
    print(a)
create_list(20,56)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]